
body {
    background-color: bisque;
}

header{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    margin-bottom: 0%;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px dotted rgb(185, 5, 5);
}

.leftHeader, .rightHeader {
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Palette Mosaic', 'Times New Roman', Times, serif;
    border: 1px solid green;
    padding: 15px;
    background-color: rgb(121, 201, 121);
    color:rgb(202, 69, 17);
}


button, a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    background-color: bisque;
    font-size: 16px;
    color: rgb(185, 5, 5);
}

main{
    padding-top: 0;
}

/*INDEX.HTML AS A START PAGE*/

.startingScreen{
    margin: 100px auto;
    padding: 75px;
    padding-top: 50px;
    border:10px double black;
    width: 500px;
}

.startingScreen h1{
    text-align: center;
    padding:0px;
    width: 300px;
    margin: auto;
}

.startingScreenTextbox {
    margin: auto;
    width: 400px;
}

.twoPlayerButton, .computerPlayerButton, .playerOptionQuestion {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 4px;
}

/*How to play Modal*/

.howToPlayModal{
    background-color: rgba(248, 248, 248, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1; 
    overflow: auto;  
    display: none; 
}

.howToPlayTextbox {
    background-color: rgb(254,244,216);
	height: 40%;
	width: 60%;
	border-radius: 2px;
	margin: 120px auto;
	padding: 2%;
	line-height: 120%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	font-family: "Georgia";
    text-align: center;
}

.closeHowToPlay{
    display: flex;
}

#gameBoard {
    margin: auto;
    padding: 4%;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 450px;
}

.box{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
}

.currentPlayerToken, .droppedToken {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    z-index: 1;
}

#currentPlayer{
    color:rgb(87, 78, 209);
}